*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #000;
  max-width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
