.layout {
  position: relative;
  width: 100%;
  height: 100%;

  &__container {
    display: grid;
    grid-auto-flow: column;
    gap: 8rem;

    @media only screen and (max-width: $breakpoint-md) {
      grid-auto-flow: row;
    }
  }
}

.wrapper {
  width: 83.33%;
  max-width: 140rem;
  margin: 0 auto;
}

section {
  padding: 10rem 0;
  min-height: 100vh;
}
