@import "../../variables";

.contact {
  position: relative;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  align-content: center;

  @media only screen and (max-width: $breakpoint-md) {
    gap: 3rem;
    grid-template-rows: repeat(3, min-content);
  }

  & hr {
    border: none;
    border-top: 1px solid #fff;
  }

  &__heading {
    & h2 {
      margin-bottom: 3rem;
    }
  }

  &__hello {
    position: relative;
    display: flex;
    justify-content: end;

    & a {
      width: 12rem;
      height: 12rem;
      padding: 2rem;
      background-color: #fff;
      color: #000;
      font-size: 2rem;
      text-align: center;
      align-items: center;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        transform: scale(1.05);
      }
    }

    & hr {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &__details {
    display: flex;

    @media only screen and (max-width: $breakpoint-md) {
      flex-direction: column;
    }

    & div {
      display: flex;
      flex-direction: column;
      margin-right: 8rem;

      @media only screen and (max-width: $breakpoint-md) {
        margin: 3rem 0;
      }
    }

    & h4 {
      margin-bottom: 1.5rem;
    }

    & a {
      width: fit-content;
      position: relative;
      font-size: 2rem;
      margin: 1rem 0;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 0;
        height: 8px;
        background-color: rgba($color: $color-primary, $alpha: 0.3);
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover::after {
        width: 110%;
      }
    }
  }

  &__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &-object--1 {
      position: absolute;
      right: 0;
      top: 0;
      background-image: linear-gradient(
        to top,
        rgba($color: $color-secondary, $alpha: 1),
        rgba($color: $color-secondary, $alpha: 0)
      );
      opacity: 0.3;
      width: 50vh;
      height: 50vh;
      border-radius: 100%;
    }
    &-object--2 {
      position: absolute;
      right: 20%;
      bottom: 0;
      background-image: linear-gradient(
        to bottom,
        rgba($color: $color-primary, $alpha: 1),
        rgba($color: $color-primary, $alpha: 0)
      );
      opacity: 0.3;
      width: 30vh;
      height: 30vh;
      border-radius: 100%;
    }
  }
}
