@import "../../variables";

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    &-container {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90rem;

      @media only screen and (max-width: $breakpoint-md) {
        left: 30%;
      }
    }

    &-object--1 {
      position: absolute;
      left: 50%;
      transform: translateY(-70%);
      background-image: linear-gradient(
        to bottom,
        rgba($color: $color-primary, $alpha: 1),
        rgba($color: $color-primary, $alpha: 0)
      );
      opacity: 0.3;
      width: 60vh;
      height: 60vh;
      border-radius: 100%;
    }

    &-object--2 {
      position: absolute;
      left: 50%;
      top: 50%;
      background-image: linear-gradient(
        to right,
        rgba($color: $color-secondary, $alpha: 1),
        rgba($color: $color-secondary, $alpha: 0)
      );
      opacity: 0.3;
      width: 40vh;
      height: 40vh;
      border-radius: 100%;
    }

    &-object--3 {
      position: absolute;
      left: 85%;
      top: 60%;
      background-image: linear-gradient(
        to right,
        rgba($color: $color-primary, $alpha: 1),
        rgba($color: $color-secondary, $alpha: 1)
      );
      opacity: 0.3;
      width: 20vh;
      height: 20vh;
      border-radius: 100%;
    }

    &-object--4 {
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      background-image: linear-gradient(
        to top right,
        rgba($color: $color-secondary, $alpha: 1),
        rgba($color: $color-secondary, $alpha: 0)
      );
      opacity: 0.3;
      width: 75vh;
      height: 75vh;
      border-radius: 100%;
    }
  }
}
