@import "../../variables";

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  grid-row-gap: 8rem;
  justify-items: start;
  align-items: start;

  &__title {
    grid-column: 1/4;
  }

  &__container {
    width: 100%;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    row-gap: 8rem;
    column-gap: 8rem;
    justify-content: space-between;

    @media only screen and (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;

    &:nth-child(even) {
      margin-top: 30rem;
    }

    @media only screen and (max-width: $breakpoint-md) {
      padding: 0;
      padding-bottom: 2rem;

      &:nth-child(even) {
        margin-top: 0;
      }
    }

    &:hover &-actions {
      top: 50%;
      opacity: 1;
    }

    & figure {
      position: relative;
      height: 65rem;
      width: 100%;
      background-color: $color-gray-light;
      overflow: hidden;

      & img {
        position: absolute;
        top: 50%;
        height: 120%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
      }
    }

    &-actions {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      & a {
        margin-bottom: 2rem;
      }
    }

    &-body {
      width: 100%;
      margin-top: 2rem;
    }

    & p {
      margin-bottom: 0.5rem;
    }

    & hr {
      width: 50%;
      margin: 2rem 0;
      border: none;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
    }

    & span {
      font-size: 1.6rem;
      color: #afafaf;
    }
  }

  &__button {
    justify-self: center;
  }
}
